{% extends "Apprestapp1/padre.html" %}
    {% load static %}

{% block contenidoQueCambia %}
<div class="full-height-section error-section">
    <div class="full-height-tablecell">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="error-text">
                        <i class="far fa-sad-cry"></i>
                        <h1>Oops! Direccion no encontrada.</h1>
                        <p>La pagina solicitada se encuentra en construccion.</p>
                        <a href="{% url 'inicio' %}" class="boxed-btn">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}