<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">


	<title>Restapp</title>

	<link rel="shortcut icon" type="image/png" href="{% static '/Apprestapp1/assets/img/logo.png' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<link href="{% static '/Apprestapp1/assets/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static '/Apprestapp1/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/Apprestapp1/assets/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static '/Apprestapp1/assets/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static '/Apprestapp1/assets/css/animate.css' %}" rel="stylesheet">
	<link href="{% static '/Apprestapp1/assets/css/meanmenu.min.css' %}" rel="stylesheet">
	<link href="{% static '/Apprestapp1/assets/css/main.css' %}" rel="stylesheet">
	<link href="{% static '/Apprestapp1/assets/css/responsive.css' %}" rel="stylesheet">

</head>
<body>
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->

	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'inicio' %}">Home</a></li>
								<li><a href="{% url 'List' %}">Restaurants</a></li>
								<li><a href="#footer">Sobre nosotros</a></li>
								<li><a href="{% url 'error' %}">Donaciones</a></li>
								<li>
								</li>
									<!-- <li style= "word-spacing: 100px;">
										{% if request.user.is_authenticated %}
											
                							<li><p class="text-muted small mb-4 mb-lg-0" style="color: aliceblue;"> Hola, {{user.username}}!!!. </p></li>
                							<li><a class="boxed-btn" href="{% url 'Logout' %}">SALIR</a></li>
                							{% endif %}
									</li> -->
									<!-- <li style= "padding-bottom: 2px;">{% if not request.user.is_authenticated %}
										<a class="boxed-btn" href="{% url 'Login' %}">INICIAR</a>
										{% endif %}
									</li> -->
									<li >
										{% if not request.user.is_authenticated %}
										<a class="boxed-btn" href="{% url 'Register' %}">Registrate</a>
										<a class="boxed-btn" href="{% url 'Login' %}">INICIAR</a>
										{% endif %}
										{% if request.user.is_authenticated %}
											
                							<!-- <li><p class="text-muted small mb-4 mb-lg-0" style="color: aliceblue;"> Hola, {{user.username}}!!!. </p></li> -->
                							<li style="display: inline-grid;"><a class="boxed-btn" href="{% url 'Logout' %}" style="text-align: -webkit-center;
												font-size: large;">SALIR</a><a class="text-muted small mb-4 mb-lg-0" style="
												font-family: fantasy;
												color: white;
												font-size: x-large;
												font-family: fangsong;"
												href="{% url 'EditarPerfil' %}"> Hola, {{user.username}}!!!. </a></li>
                							{% endif %}
									</li>
									</li>
									
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<img src="{% static '/Apprestapp1/assets/img/logo.png' %}" alt="" >
							<p class="subtitle">Restapp</p>
							<h1>Encontra tu restaurante ideal</h1>
							<div class="hero-btns">
								<a href="{% url 'contacto' %}" class="boxed-btn">CONTACTANOS</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTENIDO QUE CAMBIA -->
    {% block contenidoQueCambia %} 
            
    {% endblock contenidoQueCambia %}
	<footer><a name="footer"></a>
	<div class="footer-area">
		<div class="container">
			<ul id="ultimodiv">
				<li>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Nosotros</h2>
						<p>Restapp fue creado para que los Restaurants puedan exibirse y las personas puedan encontrar donde ir a comer, dependiendo sus gustos.
                            Desde  restapp deseamos que pueda encontrar su restaurant ideal para usted, y si sos un restaunt queremos que tengas la mayor
							expocision posible.
						</p>
					</div>
				</div>
				</li>
				<!-- <li>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Contacto</h2>
						<ul>
							<li>forniz.franco@gmail.com</li>
							<li>011 4444 8693</li>
						</ul>
					</div>
				</div>
				</li> -->
				<li>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Secciones</h2>
						<ul>
							<li><a href="{% url 'inicio' %}">Inicio</a></li>
							<li><a href="{% url 'contacto' %}">Contacto</a></li>
							<li><a href="{% url 'List' %}">Restaurants</a></li>
							<li><a href="{% url 'error' %}">Donaciones</a></li>
						</ul>
					</div>
				</div>
				</li>
			</ul>
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="https://imransdesign.com/">Franco Forniz</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	</footer>

	<script src="{% static '/Apprestapp1/assets/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static '/Apprestapp1/assets/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static '/Apprestapp1/assets/js/jquery.countdown.js' %}"></script>
	<script src="{% static '/Apprestapp1/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<script src="{% static '/Apprestapp1/assets/js/waypoints.js' %}"></script>
	<script src="{% static '/Apprestapp1/assets/js/owl.carousel.min.js' %}"></script>
	<script src="{% static '/Apprestapp1/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/Apprestapp1/assets/js/jquery.meanmenu.min.js' %}"></script>
	<script src="{% static '/Apprestapp1/assets/js/sticker.js' %}"></script>
	<script src="{% static '/Apprestapp1/assets/js/main.js' %}"></script>

</body>
</html>